<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Taming Thymeleaf</title>
    <link rel="stylesheet" th:href="@{/css/main.css}">
</head>
<body>
  <h1 th:text="${pageTitle}" class="text-4xl mx-4 mb-4 border-b-4 border-taming-thymeleaf-green">
      Taming Thymeleaf
  </h1>

  <div>
      <ul>
          <li th:each="programmer: ${programmers}">
              <span th:text="${programmer}"></span>
          </li>
      </ul>
  </div>

</body>
</html>